<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readings Summary</title>
</head>
<body>
<h1>Enter reading</h1>
<br/><br/>
<div>
    <form>
        <input value="#{java.time.LocalDate.now()}">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Wert</th>
            </tr>
            <tr>
                <input hidden="true" name="meterId" value="water"/>
                <td>
                    Wasser
                </td>
                <td>
                    <input name="wert" />
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>